html {
    --primary-color-hue: 216;
    --primary-color-saturation: 80%;
    --primary-color-lightness: 25%;
    --secondary-color-hue: 210;
    --secondary-color-saturation: 71%;
    --secondary-color-lightness: 30%;
    --tertiary-color-hue: 210;
    --tertiary-color-saturation: 71%;
    --tertiary-color-lightness: 50%;
    --box-shadow: .1rem .1rem .5rem #666;
    --font-size: 1.5rem;
    --default-border-radius: 0;
    --dark-mode-text-color: hsl(0, 0%, 100%);
    --button-text-color: var(--pure-white);
    --medium-blue: hsl(var(--tertiary-color-hue), var(--tertiary-color-saturation), var(--tertiary-color-lightness));
    --active-table-cell-text-color-highlighted: var(--pure-white);
    --button-background-color-highlighted: var(--pure-white);
    --font-family: "NeuzeitGro-Reg", "Open Sans", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

#template-business {
    --light-blue: hsl(var(--tertiary-color-hue), var(--tertiary-color-saturation), var(--tertiary-color-lightness));
    --dark-blue: hsl(var(--primary-color-hue), var(--primary-color-saturation), var(--primary-color-lightness));
    --hyperlink-color: var(--dark-blue);
    --hyperlink-color-highlighted: var(--light-blue);
    --default-background: rgba(255, 255, 255, 0.1);
    --colored-background-gradient: linear-gradient(180deg, var(--primary-color) 0%, var(--dark-blue) 100%);
    --colored-background-gradient-rotated: linear-gradient(0deg, var(--primary-color) 0%, var(--dark-blue) 100%);
    --button-border: .2rem solid var(--pure-white);
    --button-outline: .2rem solid var(--primary-color);
}

button, .button, input[type="submit"] {
    border-color: rgba(255, 255, 255, .5);
}

:is(button, .button, input[type="submit"]).primary {
    border-color: var(--dark-blue);
    background: var(--dark-blue);
}

:is(button, .button, input[type="submit"]) > :is(span, [class*="icon-"]) {
    color: var(--pure-white);
}

:is(button, .button, input[type="submit"]).primary:is(:hover, :active, :focus),
:is(button, .button, input[type="submit"]).tertiary:is(:hover, :active, :focus) {
    border-color: var(--dark-blue);
    background: var(--pure-white);
}


@media (prefers-color-scheme: dark) {
    #template-business {
        --colored-background-gradient: linear-gradient(180deg, var(--dark-blue) 0%, var(--medium-blue) 50%, var(--dark-blue) 100%);
        --hyperlink-color: var(--pure-white);
        --hyperlink-color-highlighted: var(--dark-blue);
        --color-scheme-background-color: rgba(255, 255, 255, .15);
        --disabled-color: rgb(55, 55, 55);
        --fieldset-background: var(--color-scheme-background-color);
        --main-navigation-background: var(--color-scheme-background-color);

        background: var(--colored-background-gradient);
    }

    option {
        color: var(--color-scheme-text-color-inverted);
    }

    a.active:not([class*="icon-"]), li.active > a:not([class*="icon-"]) {
        color: var(--dark-blue);
    }

    input, select, textarea, .input {
        background: none;
    }

    :is(input:not([type="range"]), select, textarea, .input):focus {
        background: rgba(255, 255, 255, .1)
    }

    :is(input, select, textarea, .input):focus::placeholder {
        color: var(--color-scheme-text-color);
    }

    tr.active td, td.active {
        background: rgba(255, 255, 255, var(--reduced-opacity));
    }
}