/* demopage-only.css - STYLES FOR DEMOPAGE ONLY - IT IS NOT RECOMMENDED TO EDIT THIS FILE (TO AVOID TROUBLESHOOTING AFTER UPDATING) */

body {
    overflow: hidden;
}

#frontend-framework-demo > div:first-child {
    display: flex;
}

#frontend-framework-demo main {
    overflow-y: scroll;
    height: 100vh;
    flex: 1;
    padding: 2rem 5rem;
}

#frontend-framework-demo main a[id^="anchor"] + h3 {
    color: var(--primary-color);
}

.width-limitation-wrapper section {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#navigation {
    width: 25rem;
    border-right: var(--default-border);
    background: var(--pure-white);
}

#template-business #navigation {
    background: rgba(255, 255, 255, .1);
}

#frontend-framework-demo #template-business main a[id^="anchor"] + h3 {
    color: var(--pure-white);
}

#navigation h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: var(--default-padding) calc(var(--default-padding) / 2);
    background: var(--primary-color);
    color: var(--pure-white);
}

#navigation div {
    padding: var(--default-padding);
}

#navigation select {
    border-radius: 0;
}

#navigation > div > ul > li {
    margin-left: 0;
}

#navigation > div > ul > li:first-child > a {
    font-weight: bold;
    text-transform: uppercase;
}

#navigation li {
    list-style-type: none;
    line-height: 1.3;
}

#navigation li a {
    font-size: 1.3rem;
    text-decoration: none;
}

#navigation hr {
    margin: calc(var(--default-margin) / 2);
    border-color: var(--border-color);
}

#navigation hr + * {
    margin: 0;
}
h1 > span:last-child {
    display: block;
    font-size: 1.8rem;
    line-height: 1.4;
}

h2.headline-demopage {
    text-align: center;
    color: #fff;
    padding: .5rem;
    background: var(--primary-color);
    font-size: 4rem;
    margin-top: 0;
    font-family: "Century Gothic", Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

#grid-complex {
    grid-template-columns: 1fr 2fr 1fr;
}

#grid-complex > div:nth-child(1) {
    grid-row: 1 / span 2;
}

#grid-complex > div:nth-child(4) {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
}

#grid-complex > div:nth-child(9) {
    grid-column: 1 / span 2;
}

#grid-complex > div:nth-child(12) {
    grid-column: 2 / span 2;
}

#flex-section .flex-container > *,
#grid-section [class*="grid-"] > div {
    border: var(--default-border);
    text-align: center;
    padding: var(--default-padding);
    background: var(--default-background);
}

