/* demopage-only.css - STYLES FOR DEMOPAGE ONLY - IT IS NOT RECOMMENDED TO EDIT THIS FILE (TO AVOID TROUBLESHOOTING AFTER UPDATING) */
body {
    overflow: hidden;
}

#frontend-framework-demo > [id^="template-"] {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth
}

#frontend-framework-demo .sidebar {
    display: flex;
    padding: 0;
}

#frontend-framework-demo .inner-sidebar-wrapper {
    padding: 0;
    padding-top: var(--default-padding);
    padding-bottom: var(--default-padding);
}

#frontend-framework-demo .sidebar > a {
    display: flex;
    flex: none;
    text-decoration: none;
    padding: calc(var(--default-padding) / 2);
    align-items: center;
    border: 0;
    border-left: var(--default-border);
}

#frontend-framework-demo .sidebar.open {
    width: 30rem;
}

#frontend-framework-demo .sidebar .box {
    border: 0;
}

#frontend-framework-demo .sidebar .box:last-of-type {
    border-bottom: var(--default-border);
}

#frontend-framework-demo .sidebar .box > .box-header {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    padding: calc(var(--default-padding) / 2) var(--default-padding);
    justify-content: space-between;
    background: var(--primary-color);
    color: var(--pure-white);
    text-decoration: none;
    border: var(--primary-border);
}

#frontend-framework-demo .sidebar .box > .box-header * {
    color: var(--pure-white);
    margin-bottom: 0;
}

#frontend-framework-demo .sidebar .box .box-header:is(:hover, :active, :focus) {
    background: var(--pure-white);
}

#frontend-framework-demo .sidebar .box > .box-header:is(:hover, :active, :focus) * {
    color: var(--primary-color);
}

#frontend-framework-demo .sidebar .box > .box-header [class*="icon"] {
    font-size: var(--icon-size);
}

#frontend-framework-demo .width-limitation-wrapper > section {
    padding: var(--default-padding);
}

#frontend-framework-demo .site-footer footer {
    height: 5vh;
}

#frontend-framework-demo #main-wrapper {
    display: flex;
}

#frontend-framework-demo main {
    overflow-y: scroll;
    height: calc(100vh - 20vh);
    flex: 1;
}

#frontend-framework-demo [class*="copyright-information"] {
    background: var(--text-color);
    text-align: center;
    padding: var(--default-padding);
}

#frontend-framework-demo [class*="copyright-information"] a {
    color: var(--pure-white);
    text-decoration: none;
}

#frontend-framework-demo [class*="copyright-information"] a:is(:hover, :active, :focus) {
    text-decoration: underline;
}

.width-limitation-wrapper section {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.width-limitation-wrapper:first-of-type section {
    padding-top: 0;
}

#navigation {
    width: 25rem;
    border-right: var(--default-border);
    background: var(--pure-white);
}

#template-business .site-header {
    background: hsla(var(--primary-color-hue), var(--primary-color-saturation), var(--primary-color-lightness), .85);
}

#template-business #navigation {
    background: rgba(255, 255, 255, .1);
}

#navigation h1 {
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    padding: calc(var(--default-padding) / 2);
    background: var(--primary-color);
    color: var(--pure-white);
}

#navigation div {
    padding: var(--default-padding);
}

#navigation select {
    border-radius: 0;
}

#navigation > div > ul > li {
    margin-left: 0;
}

#navigation > div > ul > li:first-child > a {
    font-weight: bold;
    text-transform: uppercase;
}

#navigation li {
    list-style-type: none;
    line-height: 1.3;
}

#navigation li a {
    font-size: 1.3rem;
    text-decoration: none;
}

#navigation hr {
    margin: calc(var(--default-margin) / 2);
    border-color: var(--border-color);
}

#navigation hr + * {
    margin: 0;
}

h2.headline-demopage {
    text-align: center;
    color: #fff;
    padding: .5rem;
    background: var(--primary-color);
    font-size: 4rem;
    margin-top: 0;
    font-family: "Century Gothic", Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

#grid-complex {
    grid-template-columns: 1fr 2fr 1fr;
}

#grid-complex > div:nth-child(1) {
    grid-row: 1 / span 2;
}

#grid-complex > div:nth-child(4) {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
}

#grid-complex > div:nth-child(9) {
    grid-column: 1 / span 2;
}

#grid-complex > div:nth-child(12) {
    grid-column: 2 / span 2;
}

#flex-section .flex-container > *,
#grid-section [class*="grid-"] > div {
    border: var(--default-border);
    text-align: center;
    padding: var(--default-padding);
    background: var(--default-background);
}

