/* framework-iconfont.css - last update: 2021/11/26 by Raphael Biock - IT IS NOT RECOMMENDED TO EDIT THIS FILE (TO AVOID TROUBLESHOOTING AFTER UPDATING) - DO CHANGES IN template.css OR YOUR OWN iconfont-css-file */

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/iconfonts/framework-iconfont/icomoon.woff?fagexk') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-meta:before {
  content: "\a100";
}
.icon-drag-and-drop:before {
  content: "\a101";
}
.icon-file-config:before {
  content: "\a102";
}
.icon-save-config:before {
  content: "\a103";
}
.icon-cancel-circle:before {
  content: "\a104";
}
.icon-check-circle:before {
  content: "\a105";
}
.icon-check-outline:before {
  content: "\a106";
}
.icon-ellipsis:before {
  content: "\a107";
}
.icon-info:before {
  content: "\a108";
}
.icon-info-circle:before {
  content: "\a109";
}
.icon-insert-template:before {
  content: "\a10a";
}
.icon-notification:before {
  content: "\a10b";
}
.icon-not-visible:before {
  content: "\a10c";
}
.icon-shrink:before {
  content: "\a10d";
}
.icon-trash:before {
  content: "\a10e";
}
.icon-add-attachment:before {
  content: "\a10f";
}
.icon-address:before {
  content: "\a110";
}
.icon-all-messages:before {
  content: "\a111";
}
.icon-answer-message:before {
  content: "\a112";
}
.icon-arrow-down:before {
  content: "\a113";
}
.icon-arrow-left:before {
  content: "\a114";
}
.icon-arrow-right:before {
  content: "\a115";
}
.icon-arrow-up:before {
  content: "\a116";
}
.icon-attachment:before {
  content: "\a117";
}
.icon-bars:before {
  content: "\a118";
}
.icon-blocked:before {
  content: "\a119";
}
.icon-blocks-large:before {
  content: "\a11a";
}
.icon-blocks-small:before {
  content: "\a11b";
}
.icon-box:before {
  content: "\a11c";
}
.icon-bug:before {
  content: "\a11d";
}
.icon-callback:before {
  content: "\a11e";
}
.icon-cancel:before {
  content: "\a11f";
}
.icon-cancel-circle1:before {
  content: "\a120";
}
.icon-cart:before {
  content: "\a121";
}
.icon-check:before {
  content: "\a122";
}
.icon-circle:before {
  content: "\a123";
}
.icon-circle-outline:before {
  content: "\a124";
}
.icon-clock:before {
  content: "\a125";
}
.icon-cloud-download:before {
  content: "\a126";
}
.icon-cloud-upload:before {
  content: "\a127";
}
.icon-cog:before {
  content: "\a128";
}
.icon-cog-outline:before {
  content: "\a129";
}
.icon-cogs:before {
  content: "\a12a";
}
.icon-config-download:before {
  content: "\a12b";
}
.icon-configuration:before {
  content: "\a12c";
}
.icon-content:before {
  content: "\a12d";
}
.icon-cooperations:before {
  content: "\a12e";
}
.icon-database:before {
  content: "\a12f";
}
.icon-delete:before {
  content: "\a130";
}
.icon-dependencies:before {
  content: "\a131";
}
.icon-device-desktop:before {
  content: "\a132";
}
.icon-device-laptop:before {
  content: "\a133";
}
.icon-device-smartphone:before {
  content: "\a134";
}
.icon-device-tablet:before {
  content: "\a135";
}
.icon-dollar:before {
  content: "\a136";
}
.icon-double-arrow-down:before {
  content: "\a137";
}
.icon-double-arrow-left:before {
  content: "\a138";
}
.icon-double-arrow-right:before {
  content: "\a139";
}
.icon-double-arrow-up:before {
  content: "\a13a";
}
.icon-download:before {
  content: "\a13b";
}
.icon-duplicate-content:before {
  content: "\a13c";
}
.icon-earth:before {
  content: "\a13d";
}
.icon-edit:before {
  content: "\a13e";
}
.icon-ellipsis1:before {
  content: "\a13f";
}
.icon-enlarge:before {
  content: "\a140";
}
.icon-enter:before {
  content: "\a141";
}
.icon-error-circle:before {
  content: "\a142";
}
.icon-euro:before {
  content: "\a143";
}
.icon-exclamation-circle:before {
  content: "\a144";
}
.icon-export:before {
  content: "\a145";
}
.icon-fax:before {
  content: "\a146";
}
.icon-file:before {
  content: "\a149";
}
.icon-file-content-download:before {
  content: "\a14a";
}
.icon-file-copy:before {
  content: "\a14b";
}
.icon-file-cut:before {
  content: "\a14c";
}
.icon-file-delete:before {
  content: "\a14d";
}
.icon-file-download:before {
  content: "\a14e";
}
.icon-file-excel:before {
  content: "\a14f";
}
.icon-file-excel-download:before {
  content: "\a150";
}
.icon-file-image:before {
  content: "\a151";
}
.icon-file-other:before {
  content: "\a152";
}
.icon-file-paste:before {
  content: "\a153";
}
.icon-file-pdf:before {
  content: "\a154";
}
.icon-file-rename:before {
  content: "\a155";
}
.icon-files:before {
  content: "\a156";
}
.icon-file-settings:before {
  content: "\a157";
}
.icon-file-text:before {
  content: "\a158";
}
.icon-file-upload:before {
  content: "\a159";
}
.icon-file-video:before {
  content: "\a15a";
}
.icon-file-word:before {
  content: "\a15b";
}
.icon-film:before {
  content: "\a15c";
}
.icon-filter:before {
  content: "\a15d";
}
.icon-floppy-disk:before {
  content: "\a15e";
}
.icon-folder:before {
  content: "\a15f";
}
.icon-globe:before {
  content: "\a160";
}
.icon-help:before {
  content: "\a161";
}
.icon-hexagon:before {
  content: "\a162";
}
.icon-hexagon-outline:before {
  content: "\a163";
}
.icon-home:before {
  content: "\a164";
}
.icon-image:before {
  content: "\a165";
}
.icon-inbox:before {
  content: "\a166";
}
.icon-insert-template1:before {
  content: "\a167";
}
.icon-interfaces:before {
  content: "\a168";
}
.icon-key:before {
  content: "\a169";
}
.icon-link:before {
  content: "\a16a";
}
.icon-list:before {
  content: "\a16b";
}
.icon-location-set:before {
  content: "\a16c";
}
.icon-location-unset:before {
  content: "\a16d";
}
.icon-logon:before {
  content: "\a16e";
}
.icon-logout:before {
  content: "\a16f";
}
.icon-loop-full-circle:before {
  content: "\a170";
}
.icon-loop-left:before {
  content: "\a171";
}
.icon-loop-right:before {
  content: "\a172";
}
.icon-mail:before {
  content: "\e971";
}
.icon-maximize:before {
  content: "\a173";
}
.icon-message-check:before {
  content: "\a174";
}
.icon-message-incoming:before {
  content: "\a175";
}
.icon-message-new:before {
  content: "\a176";
}
.icon-message-outgoing:before {
  content: "\a178";
}
.icon-message-read:before {
  content: "\a179";
}
.icon-message-send:before {
  content: "\a17a";
}
.icon-message-write:before {
  content: "\a17b";
}
.icon-messaging-in-and-out:before {
  content: "\a17c";
}
.icon-minimize:before {
  content: "\a17d";
}
.icon-minus:before {
  content: "\a17e";
}
.icon-minus-outline:before {
  content: "\a17f";
}
.icon-music:before {
  content: "\a180";
}
.icon-not-visible1:before {
  content: "\a181";
}
.icon-outbox:before {
  content: "\a182";
}
.icon-phone:before {
  content: "\a183";
}
.icon-plus:before {
  content: "\a184";
}
.icon-plus-outline:before {
  content: "\a185";
}
.icon-pointer:before {
  content: "\a186";
}
.icon-print:before {
  content: "\a187";
}
.icon-print-preview:before {
  content: "\a188";
}
.icon-questionmark:before {
  content: "\a189";
}
.icon-questionmark-circle:before {
  content: "\a190";
}
.icon-register:before {
  content: "\a191";
}
.icon-remove-user:before {
  content: "\a192";
}
.icon-responsive-devices:before {
  content: "\a193";
}
.icon-rows:before {
  content: "\a194";
}
.icon-save-file:before {
  content: "\a195";
}
.icon-save-template:before {
  content: "\a196";
}
.icon-search:before {
  content: "\a197";
}
.icon-section-sign:before {
  content: "\a198";
}
.icon-security-settings:before {
  content: "\a199";
}
.icon-shrink1:before {
  content: "\a19a";
}
.icon-single-arrow-down:before {
  content: "\a19b";
}
.icon-single-arrow-left:before {
  content: "\a19c";
}
.icon-single-arrow-right:before {
  content: "\a19d";
}
.icon-single-arrow-up:before {
  content: "\a19e";
}
.icon-sort-arrows:before {
  content: "\a19f";
}
.icon-sort-asc:before {
  content: "\a200";
}
.icon-sort-asc-arrows:before {
  content: "\a201";
}
.icon-sort-desc:before {
  content: "\a202";
}
.icon-sort-desc-arrows:before {
  content: "\a203";
}
.icon-square:before {
  content: "\a204";
}
.icon-square-outline:before {
  content: "\a205";
}
.icon-star:before {
  content: "\a206";
}
.icon-star-outline:before {
  content: "\a207";
}
.icon-table:before {
  content: "\a208";
}
.icon-table-columns:before {
  content: "\a209";
}
.icon-team:before {
  content: "\a20a";
}
.icon-tooltip:before {
  content: "\a20b";
}
.icon-trash1:before {
  content: "\a20c";
}
.icon-triangle:before {
  content: "\a20d";
}
.icon-triangle-down:before {
  content: "\a20e";
}
.icon-triangle-left:before {
  content: "\a20f";
}
.icon-triangle-outline:before {
  content: "\a210";
}
.icon-triangle-right:before {
  content: "\a211";
}
.icon-triangle-up:before {
  content: "\a212";
}
.icon-undo:before {
  content: "\a213";
}
.icon-upload:before {
  content: "\a214";
}
.icon-user-group:before {
  content: "\a215";
}
.icon-user-message:before {
  content: "\a216";
}
.icon-user-profile:before {
  content: "\a217";
}
.icon-users:before {
  content: "\a218";
}
.icon-visible:before {
  content: "\a219";
}
.icon-warning:before {
  content: "\a21a";
}
.icon-window-mode:before {
  content: "\a21b";
}
.icon-wishlist:before {
  content: "\a21c";
}
.icon-wrench:before {
  content: "\a21d";
}